
@model List<EmployeeModel>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@foreach(var emp in Model){
    <div>
        <div class="column">
            <div class="card">
                <img src="~/Images/3.jpg" alt="John" style="width:100%; height:200px;">
                <div class="container">
                    <h2>@emp.Name</h2>

                    @if (emp.Title == "IT")
                    {
                        <div>@("employee.Titel == YouAre not,,,,,oiii")</div>
                    }
                    else
                    {
                        <p class="title">@emp.Title</p>
                    }

                    <p>@emp.Description</p>
                    <p>example@example.com</p>
                    <p>
                        @{
                            var parms = new Dictionary<string, string>
                            {
                                {"id",@emp.Id.ToString()},
                                {"name",@emp.Name}
                            };
                        }
                        @* <a href="/Employees/Details?name=@emp.Name">Contact</a> *@
                        <a class="btn btn-primary" asp-controller="Employees" asp-action="Details" asp-all-route-data="parms"> Content</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    }