@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using MvcApp.Models
@model List<EmployeeModel>



    @foreach(var emp in Model){
    <div>
        <div class="column">
            <div class="card">
                <img src="~/Images/3.jpg" alt="John" style="width:100%; height:200px;">
                <div class="container">
                    <h2>@emp.Name</h2>

                    @if (emp.Title == "IT")
                    {
                        <div>@("employee.Titel == YouAre not,,,,,oiii")</div>
                    }
                    else
                    {
                        <p class="title">@emp.Title</p>
                    }

                    <p>@emp.Description</p>
                    <p>example@example.com</p>
                    <p>
                        <a href="/Employees/Details">Contact</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    }